body {
    background-color: red;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    color: yellowgreen;
    border-radius: 10px;
}
img {
	height: 200px;
	
}
.ul {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}